body, html {
    margin: 0 !important;
    padding: 0 !important;
} 

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131313;
        color-scheme: dark;
    }

    .profile, p {
        color: white;
    }

    .profile .profile-photo {
        box-shadow: 0 0 8px white;
        border-color: white;
    }

    .navbar a {
        color: white;
    }

    .profile .work .graduation-cap {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    .profile .profile-photo {
        box-shadow: 0 0 8px #515151;
        border-color: #ffffff;
    }
}

.profile {
    position: absolute;
    top: 46%;
    width: 75%;

    /* center */
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    height: 60%;
    max-height: 300px;
}

.profile .profile-photo {
    /* border */
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;

    /* size */
    width: auto;
    height: 150px;
    max-height: 60%;
    object-fit: cover;

    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile p {
    /* center */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile .name {
    display: block;

    margin-top: 15px;
    margin-bottom: 0px;

    font-size: min(50px, 12vh);
    font-family: "Concert One", serif;
}

.profile .work .graduation-cap {
    width: 24px;
}

.profile .work {
    font-size: min(24px, 12vh);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

footer p { 
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

.navbar {
    position: absolute;
    width: calc(100% - 10px);

    max-width: 500px;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    margin-top: 5px;

    list-style-type: none;

    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    border-bottom: 1px solid #131313;
}

.navbar li {
    display: inline;
    padding: 5px;
}
